.container {
   background-color: rgba(81, 210, 249, 0.63);
   box-shadow: 3px 3px 5px black;
   border-radius: 20px;
   padding: 20px;
   letter-spacing: 1px;
   margin-top: 20px;
}

.title {
   margin-bottom: 5px;
}

.img {
   height: 40px;
   border-radius: 15px;
   margin-right: 10px;
}
