.btn {
   padding: 10px;
   border-radius: 20px;
   background-color: rgba(81, 210, 249, 0.63);
   color: rgb(104, 25, 177);
   box-shadow: 3px 3px 5px black;
   font-size: 18px;
   letter-spacing: 1px;
   font-weight: 700;
   margin: 0 auto 20px;
   display: block;
   transition: all 0.8s ease;

   &:hover {
      box-shadow: none;
   }
}
